@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.header-collected {
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;

  .header-logo {
    color: #FF814C !important;
    font-size: 45px;
  }
}
