@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.header-collected {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  color: white;

  .header-logo {
    color: white !important;
    font-size: 50px;
  }
}

.btn-scan {
  background-color: #C8D5DA !important;
  color: #266678 !important;
  border-radius: 5px;
  font-size: 1rem;
}

