.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

  .notification:hover {
    background: red;
  }

  //on footer
 .badge {
    position: absolute;
    top: -10px;
    right: 25px;
    padding: 1px 5px;
    z-index: 1;
    border-radius: 50%;
    background: #cb7b7a;
    color: white;
    font-size: 18px;
  }

// on card
  .badge-overview {

    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    background: #cb7b7a !important;
    color: white;
    font-size: 18px;
    position: absolute !important;
    right: 30px !important;

  }

  .hidden {
    display: none;
  }
