<footer class="page-footer font-small footer-design">
  <div class="footer-copyright text-center  py-3">
    <%= link_to "#",class: 'btn btn-lg text-primary'  do %>
            <i class="fas fa-user-tie"></i>
    <% end %>
  </div>
</footer>