
<footer class="page-footer font-small footer-design position-fixed w-100">
<div class="footer-copyright text-center" style="max-height: 80px;">


    <%= link_to business_cards_path, class: 'btn btn-lg text-primary btn-cards'  do %>
            <i class="fas fa-user-tie"></i>
            <p class="footertext" style="font-family: 'Poppins', sans-serif;">HOME</p>
    <% end %>
    
    <%= link_to collected_cards_path, class: 'btn btn-lg text-primary btn-collected-cards'  do %>
            <i class="fas fa-layer-group"></i>
            <span class=<%= @notifications.size > 0 ?  "badge" : "hidden" %>><%= @notifications.size  %></span> 
            <p class="footertext" style="  font-family: 'Poppins', sans-serif;">CONTACTS</p>
            
    <% end %>


  </div>
</footer>
