<footer class="page-footer font-small footer-design">
  <div class="footer-copyright text-center  py-3">

    <%= link_to cards_path, class: 'btn btn-lg text-primary btn-cards'  do %>
            <i class="fas fa-user-tie"></i>
    <% end %>

    <%= link_to collected_cards_path, class: 'btn btn-lg text-primary btn-collected-cards'  do %>
            <i class="fas fa-layer-group"></i>
    <% end %>


  </div>
</footer>
