
<footer class="page-footer font-small footer-design position-fixed w-100">
<div class="footer-copyright text-center" style="max-height: 80px; /*border-top: 1.3px solid;*/ background-color: #1e5260;">


    <%= link_to business_cards_path, class: 'btn btn-lg text-primary btn-cards'  do %>
            <i class="fas fa-user-tie"></i>
            <p class="footertext text-center" style="font-family: 'Montserrat', sans-serif;">HOME</p>
    <% end %>

      <%= link_to new_collected_card_path, class: 'btn btn-lg text-primary btn-receive-cards'  do %>
              <i class="fas fa-qrcode"></i>
              <p class="footertext text-center" style="font-family: 'Montserrat', sans-serif;">SCAN QR</p>
      <% end %>

    <%= link_to collected_cards_path, class: 'btn btn-lg text-primary btn-collected-cards'  do %>
            <i class="fas fa-layer-group"></i>
            <p class="footertext text-center" style="  font-family: 'Montserrat', sans-serif;">CONTACTS</p>
    <% end %>


  </div>
</footer>
