
<div class="hero-image">
  <div class="hero-text text-center" style="height: 100%;">

    <h1 class="frontname">VISITAR</h1>
    <p class="front-slogan">The genuine way to connect</p>

      <div class="landing buttons" style="margin-top: 60px">
        <div class="visitar text-center">
          <%= link_to "VISITAR", new_user_session_path, class: "visitar-button" %>
        </div>
        <br>
        <div class="register text-center">
          <%= link_to "Register", new_registration_path(:user), class: "register-button" %>
        </div>
      </div>
  </div>
</div>
