

<div class="slogan text-center">
  <p>The</p>
  <p>genuine</p>
  <p>way</p>
  <p>to</p>
  <p>connect</p>
</div>

<div class="landing buttons" style="margin-top: 100px">
  <div class="visitar text-center">
    <%= link_to "VISITAR", "", class: "visitar-button" %>
  </div>
  <br>
  <div class="register text-center">
    <%= link_to "Register", "", class: "register-button" %>
  </div>
</div>
