.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    opacity: 1;
  }



.fa-creative-commons-share:before {
    color: #FF814C !important;
    font-size: 60px;
}


// show business cards

.show-buttons {
  display: flex;
  align-items: center;
}

  // edit button
.btn-edit{

  padding-right: 0px;

  .fa-user-edit:before {
  color: #2AB7D0 !important;
  font-size: 35px;
}

.btn-website{
  
}



.create {
  text-decoration: none;
  background-color: #C8D5DA;
  color: #266678;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}

}

.form-control {
  border-radius: 5px !important;
  font-family: 'Poppins', sans-serif !important;
  background-color: #121212;
}
// delete button

.btn-delete {

  padding-left: 0px;

  .fa-user-times:before {
  color: #eb8f8f !important;
  text-decoration: none;
  font-size: 35px;
}

}


  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
  }

  .btn-flat:hover {
    background: #1BCB7F;
    color: white;
  }

  .btn-view {
    background-color: #C8D5DA;
    color: #266678;
    border-radius: 5px;
  }

  .search-btn {
    border-radius: 5px;
    background-color: white;
    color: #266678;
    font-family: 'Poppins', sans-serif !important;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .btn-back {
    position: absolute;
    top: 11px;
    left: 15px;
    font-size: 34px;
    color: black;
  }

  .btn-new {
    color: white;
    background-color: #2AB7D0 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
  }

  .btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }

  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }

  .visitar-button {
    color: white;
    background-color: #1e5260;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 14.5px;
    padding-right: 14.5px;
    border-radius: 5px;
    font-size: 15px;

  }

  .register-button {
    color: #266678;
    background-color: #C8D5DA;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 5px;
    font-size: 15px;

  }


// index page cards


.add-btn {
    width: fit-content;
    position: absolute;
    top: -12px;
    right: 15px;
    font-size: 30px;
}

.add-text {
  width: fit-content;
  position: absolute;
  top: -16px;
  left: 15px;
  font-size: 27px;
  font-family: 'Montserrat', sans-serif;
}
