 <div class="business-card-frame">
    <div class="container">
        <div class="row justify-content-center distance-margin-top-bottom">
            
            <img src="https://api.qrserver.com/v1/create-qr-code/?data=HelloWorld&amp;size=150x150" alt="" title="" />
        
        </div>
    </div>
</div> 